<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The web site of clairefreehafer</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <style>
      body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        min-height: 100vh;
        margin: 0;
        background-repeat: repeat;
      }

      img {
        max-width: 80%;
        max-height: 80%;
        place-self: center;
      }
    </style>
    <script type="module" src="./photography.js"></script>
  </head>
  <body>
  </body>
</html>
