<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>claire freehafer</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="./slideshow.css" rel="stylesheet" type="text/css" media="all">
    <script type="module" src="./slideshow.js"></script>
  </head>
  <body>
    <h1 id="title"></h1>
    <button id="prev">&larr;</button>
    <button id="next">&rarr;</button>
    <h2 id="slide-count"></h2>
  </body>
</html>
